.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 5vh;
  align-items: center;
  flex-direction: column;
}
.main-menu-content {
  gap: 5px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 5px 100px;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.frame8 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text01 {
  color: rgba(0, 0, 0, 1);
}
.frame7 {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame30 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame301 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame32 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame5 {
  gap: 10px;
  width: 93px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(32, 177, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
}
.text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame6 {
  gap: 10px;
  width: 105px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(32, 177, 90, 1);
}
.text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
